################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/library/bin/Debug
/library/obj/Debug
/proWeb/bin
/proWeb/obj/Debug
/proWeb/App_Data/*.mdf
/proWeb/App_Data/*.ldf
