################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/library/bin/Debug
/library/obj/Debug
/proWeb/bin
